.body {
  text-align: center;
  background-color: rgb(238, 238, 238);
}

.title {
  background-color: black;
  padding: 20px;
  color: rgb(165, 164, 164);
  margin-bottom: 30px;
}

.name-email {
  width: 65%;
  display: inline-flex;
}

.form-check {
  margin-top: 20px;
  display: inline-block;
  text-align: left;
}

.form-floating {
  width: 65%;
  display: inline-block;
  margin-bottom: 40px;
}

.box-size {
  width: 40%;
  padding: 5px;
  text-align: left;
}

.destination-box {
  display: inline-flex;
  padding: 20px;
}

.destination {
  margin-left: 20px;
}

.destination label {
  margin-right: 15px;
}

.buttons {
  margin-top: 30px;
}