* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.head {
  background-color: rgb(48, 47, 47);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.header-img {
  width: 70px;
}

.top-section {
  display: flex;
  justify-content: center ;
  margin-top: 20px;
}

.tech-section {
  /* background-color: aqua; */
  max-width: 40%;
  margin: 10px auto 10px auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tech-item{
  background-color: rgb(243, 241, 241);
  border-radius: 5%;
  box-shadow: 2px 3px rgb(167, 167, 167);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 230px;
  width: 180px;
  margin: 15px;
}

.tech-item h4{
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gallery-img {
  width: 150px;
}

body hr {
  margin: auto;
  margin-top: 20px;
  width: 20%;
}

.footer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
