* {
    margin: 0;
    padding: 0;
}
/* header */
nav ul{
    display: flex;
    padding: 15px;
    list-style: none;
    font-size: 16px;
    font-weight: 800;
    gap: 25px;
    background-color: black;
    color: white;
}
header h1 {
    border: 2px solid black;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* content */

body {
    font-family: monospace;
}

.main-content{
    text-align: center;
    margin-top: 20px;
    width: 70%;
    display: inline-block;
}

img {
    width: 400px;
}
.about {
    background-color: aqua;
}

.potency {
    background-color: blueviolet;
    height: 400px;
}
.potency h3 {
    margin-top: 20px;
    font-size: 30px;
}
.potency img {
    float: left;
    padding: 15px;
    height: 300px;
}
.potency p{
    margin-top: 10px;
}

.vision {
    margin-top: 10px;
    background-color: yellow;
}

.vision h3 {
    font-size: 30px;
}
.vision img {
    padding: 15px;
    height: 300px;
}
.vision p{
    margin-top: 10px;
}

.sidebar {
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    background-color: lightgrey;
    margin: 10px;
    padding: 20px;
    width: 15%;
    display: inline-block;
    vertical-align: top;
}

.video {
    font-size: 14px;
}
.video a{
    text-decoration: none;
    font-size: 14px;
}
.references ul{
    list-style: none;
    font-size: 14px;
}
.references a{
    text-decoration: none;
    font-size: 14px;
}
.references h4{
    margin-top: 50px;
    font-size: 14px;
}

/* footer */
