* {
    margin: 0;
    padding: 0;
}
/* header */
nav ul{
    display: flex;
    padding: 15px;
    list-style: none;
    font-size: 16px;
    font-weight: 800;
    gap: 25px;
    background-color: black;
    color: white;
}
header h1 {
    border: 2px solid black;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* content */

body {
    font-family: monospace;
}

.main-content {
    text-align: center;
    width: 70%;
    display: inline-block;
    background-color: aqua;
}

.sidebar {
    background-color: lightgrey;
    margin: 10px;
    padding: 20px;
    width: 15%;
    display: inline-block;
    vertical-align: top;
}

/* footer */
