* {
    margin: 0;
    padding: 0;
}
/* header */
.navbar ul{
    display: flex;
    width: 100%;
    top: 0;
    padding: 20px;
    background-color: #1d1c1c;
    gap: 20px;
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 900;
}
.navbar a:hover{
    color: red;
}

header h1 {
    border: 2px solid black;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

/* content */

body {
    font-family: monospace;
}

.main-content{
    text-align: center;
    margin-top: 20px;
    width: 70%;
    display: inline-block;
}
table, th, td {
    border: 2px solid;
    margin-left: auto;
    margin-right: auto;
}
img {
    padding: 20px;
    width: 400px;
}
.content h3{
    font-size: 25px;
}

.about p{
    margin-bottom: 15px;
}

.potency {
    height: 400px;
    margin-top: 50px;
}

.potency img {
    float: left;
    padding: 15px;
    height: 300px;
}
.potency p{
    margin-top: 10px;
}

.vision {
    margin-top: 10px;
}

.vision img {
    float: right;
    padding: 15px;
    height: 300px;
}
.vision p{
    margin-top: 45px;
}

.sidebar {
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    background-color: rgb(241, 236, 236);
    margin: 10px;
    padding: 20px;
    width: 15%;
    display: inline-block;
    vertical-align: top;
}
.sidebar a:hover{
    color: red;
}

.video {
    font-size: 18px;
}
.video a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: 900;
}
.references ul{
    list-style: none;
    font-size: 14px;
}
.references a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: 900;
}
.references h4{
    margin-top: 100px;
    font-size: 18px;
}


/* footer */
footer{
    margin-top: 50px;
    padding: 15px;
    list-style: none;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    background-color: black;
    color: white;
}