
h1 {
text-align: center;
}

.position {
    list-style: none;
}

.first {
background-color: rgb(235, 200, 84);
font-size: 20px;
height: 50px;
text-align: center;
width: 200px;
margin: 0 auto; /* coloca no centro */
}

.second {
background-color: rgb(219, 219, 219);
font-size: 20px;
height: 50px;
text-align: center;
width: 300px;
display: inline-block;
margin-left: 150px;
}

.third {
background-color: rgb(170, 142, 106);
font-size: 20px;
height: 50px;
text-align: center;
width: 300px;
display: inline-block;
margin-right: 150px;
}

.prize li{ /* como alinhar centro */
    list-style: none;
    display: inline;
    background-color: aquamarine;
}

h3 {
    text-align: center;
}